<p>
  achievedcompetences works!
</p>

<div class="chapter" >
<img src="/assets/images/{{chapterPath}}/littleChapterFlag.png">

<div class="container-fluid" align="center">
  <div class="row-fluid">
    <div class="col-md-6 col-md-offset-3">
      <div class = "competence jumpotron" *ngFor="let competence of allStudentCompetences" role="presentation" >
        <a href="#" data-toggle="tooltip" data-placement="right"
          title="Du hast diese Kompetenz am {{competence.fromDate}} erreicht">
        <p>{{competence.studentText}}</p>
          <div *ngIf="competence.checked == false" >
            <img src="/assets/images/{{chapterPath}}/competenceUndone.png">
          </div>
          <div *ngIf="competence.checked == true" >
            <img src="/assets/images/{{chapterPath}}/competenceDone.png">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
